const path = require("path");

module.exports = {
	entry : {
        app: path.resolve(__dirname, "./app.js"),
		productListing: path.resolve(__dirname, "./controllers/product-listing/productListing.js"),
		productDescription: path.resolve(__dirname, "./controllers/product-description/productDescription.js")
	},
	output : {
		filename : "[name].js",
		path : path.resolve(__dirname, "./dist")
	},
	mode : "development",
	devtool : "source-map",
	module : {
		rules : [{
			test : /\.js$/,
			exclude : [ /node_modules/ ],
			use : [{
				loader : "babel-loader"
			}]
		}]
	}
}
