<!DOCTYPE html>
<html>
    <head>
        <title>Product Description - Stimulus-Turbolinks-Mobx app</title>
        <style>
            .plist-wrapper {
                display: flex;
                justify-content: space-around;
            }
            .header-bg {
                background: #2874f0;
                display: flex;
                font-size: 1.5em;
                justify-content: space-between;
                padding: 0 2em;
            }
            .brand-name {
                color: #fff;
                text-decoration: none;
            }
            .cart a {
                color: #fff;
            }
            .cart-items-count {
                background: yellow;
                border-radius: 20px;
                color: #0076be;
                font-size: 0.75em;
                padding: 5px;
                vertical-align: top;
            }
            footer {
                background: purple;
                color: #fff;
                display: flex;
                justify-content: space-between;
                margin: 20px 0;
                padding: 0 1em;
                text-align: center;
            }
            p {
                margin: 0;
            }
            .add-products-banner {
                font-size: 12px;
            }
            .hidden {
                display: none;
            }
            .pdes-wrapper {
                text-align: center;
            }
            .add-to-cart {
                background: #ff9f00;
                border: none;
                border-radius: 2px;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
                color: #fff;
                cursor: pointer;
                font-weight: bold;
                padding: 18px 8px;
            }
        </style>
        <script src="/dist/cartStore.js"></script>
        <script src="/dist/app.js"></script>
        <script src="/dist/header.js"></script>
        <script src="/dist/footer.js"></script>
        <script src="/dist/productDescription.js"></script>
    </head>
    <body>
        {{> header}}
        <main data-controller="productDescription">
            <h2>Product Description Page</h2>
            <div class="pdes-wrapper">
                <!-- Product details -->
                <div class="p-wrapper">
                    <div class="p-image">
                        <img alt="Product image"/>
                    </div>
                    <h3 class="p-summary">LG H454A 60cm (24 inch) HD Ready LED TV</h3>
                </div>
                <button class="add-to-cart" data-action="productDescription#addToCart">Add to Cart</button>
            </div>
            <a href="/">Click here to go to Product Listing Page</a>
        </main>
        {{> footer}}
    </body>
</html>