<footer data-controller="footer">
    <p class="copyright">Copyright 2018</p>
    <p class="add-products-banner hidden" data-target="footer.banner">
        Adding a product to cart will take upto 2 minutes to reflect in system
    </p>
</footer>