<header data-controller="header" data-header-cart-count="20">
    <div class="header-bg">
        <a class="brand-name" href="/">Flexcart</a>
        <div class="cart">
            <a href="#">Cart</a>
            <span class="cart-items-count" data-target="header.cartCount">20</span>
        </div>
    </div>
</header>