<header>
    <div class="header-bg">
        <a class="brand-name" href="/">Flexcart</a>
        <div class="cart">
            <a href="#">Cart</a>
            <span class="cart-items-count">20</span>
        </div>
    </div>
</header>